body{
	background-color: #1abc9c;
}
input{
	background-color: #c0392b;
	padding: none;
}
button{
	float:left;
	height:40px;
	width: 65px;
	border: 1px solid black;
	font-family: 
}

.clear {
	clear:left;
}

#leftoperand {
	height: 35px;
	width: 100px;
	float: left;
}

#middleinput {
	height: 35px;
	width:60px;
	float: left;
}

#rightoperand {
	height: 35px;
	width:100px;
	float: left;
}

#change{
	height: 40px;
	width: 55px;
}

#changeback{
	width :75px;
}