h1 {
    color: purple;
    text-decoration: underline;
}

div {
    width: 150px;
    height: 50px;
    padding: 11px;
    border: 1px solid black;
    margin: 10px;
    font-weight: bold;
    color: white;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
    margin-left: +40px;
}

#yellow {
    background-color: yellow;
    margin-left: +70px;
}

#green {
    background-color: green;
    margin-left: +100px;
}

#blue {
    background-color: blue;
    margin-left: +130px;
}

#violet {
    background-color: violet;
    margin-left: +160px;
}
